.button {
  height: 75px;
  width: 150px;
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
  outline: none;
}

.main-btn {
  margin-top: 50px;
}

.favorite {
  width: 250px;
  margin-right: 50px;
}
