.App {
  text-align: center;
  background-image: url("http://www.astronomy.com/-/media/Images/News%20and%20Observing/News/2014/09/DDO68.jpg?mw=600");
}

body {
  font-family: 'Saira Extra Condensed', sans-serif;
}

.loading {
  color: #fff;
  font-size: 80px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.gif-container {
  text-align: center;
}
