.App {
  text-align: center;
}

body {
  font-family: 'Orbitron', sans-serif;
}

.loading {
  height: 120px;
  color: #FFE510;
  font-size: 100px;
  text-align: center;
  background-color: black;
  margin: auto;
  padding-top: 30px;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.gif-container {
  text-align: center;
}

img {
  width: 600px;
}
