.card {
  height: 500px;
  width: 350px;
  margin: 10px;
  padding: 10px;
  background-color: #2f2f2f;
  border: 5px solid #feda4a;
  color: gray;
  transition: transform .5s;
}

.card:hover {
  border: 5px solid #32cd32;
  transform: scale(1.05);
}

.favorite-btn {
  margin-top: 10px;
  height: 50px;
  width: 100px;
  border: 3px solid #feda4a;
  cursor: pointer;
  font-size: 16px;
  font-family: inherit;
}

.favorite-btn:hover {
  background-color: #32cd32;
}
