.card {
  height: 500px;
  width: 350px;
  margin: 10px;
  padding: 10px;
  background-color: #2f2f2f;
  border: 2px solid #3159D5;
  color: gray;
  transition: transform .5s;
}

.card:hover {
  border: 2px solid #32cd32;
  /*transform: scale(1.05);*/
}

.favorite-btn {
  border-radius: 15px;
  margin-top: 13px;
  height: 40px;
  width: 100px;
  border: 1px solid #3159D5;
  cursor: pointer;
  font-size: 16px;
  font-family: inherit;
  padding-top: 8px;
}

.favorite-btn:hover {
  background-color: #32cd32;
}
